/* HEAD ELEMENTS
---------------------------------------------*/
.structHead{float:left; width:100%; background: @light-grey; padding:1em 0;}
	
#inner-wrap .headLogo {
    img { max-width: 200px;}
}
	
#nav{display:none;}