/* Base Colors */
/* Specific Colors */
/* Grays */
/* General */
/* Pixels - These control the template breakpoints only - they will not affect the bootstrap grid */
/* Breakpoints */
/* GENERAL STYLES
---------------------------------------------*/
html,
body,
form {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px/1.5em Helvetica, Arial, sans-serif;
}
a {
  color: #41a6e2;
  text-decoration: underline;
  outline: none;
  transition: color 250ms ease, background 500ms ease;
}
a:hover {
  color: #edb237;
  text-decoration: underline;
}
a img {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
.PageTitleHeader,
.PageSubTitleHeader {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h1,
.PageTitleHeader {
  font-size: 2.429em;
  line-height: 1.25em;
}
h2,
.PageSubTitleHeader {
  font-size: 1.714em;
  line-height: 1.25em;
}
h3 {
  font-size: 1.429em;
  line-height: 1.25em;
}
h4 {
  font-size: 1.143em;
  line-height: 1.25em;
}
h5 {
  font-size: 0.929em;
  line-height: 1.25em;
}
p {
  margin: 0.5em 0 1.5em;
  padding: 0;
}
#PageTitle,
.PageTitleHeader {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.textalignright {
  text-align: right;
}
.textalignleft {
  text-align: left;
}
hr {
  height: 1px;
  line-height: 1px;
  margin: 2em 0;
  clear: both;
  border: none;
  background: #ccc;
  color: #ccc;
}
img.left {
  float: left;
  margin: 0 7px 1px 0;
}
img.right {
  float: right;
  margin: 0 0 7px 7px;
}
img.outline {
  border: 4px solid #666;
}
.clearing {
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;
  margin-top: -7px;
}
.clearBoth {
  clear: both;
}
.clearRight {
  clear: right;
}
.clearLeft {
  clear: left;
}
.invisibleButAccessible {
  display: none;
}
.idbmsBreadcrumbSeparator {
  color: #87c952 !important;
}
.expand img {
  background-color: #87c952 !important;
}
.expand {
  background-color: #87c952 !important;
  display: inline-block;
  width: 18px;
}
.Error,
.error {
  width: auto !important;
}
img[src="/images/icons/v2/common/brick_edit.gif"],
img[src="/images/icons/v2/common/delete.gif"],
img[src="/images/icons/v2/common/arrow_out.gif"],
img[src="/images/e.gif"],
img[src="/images/spacer.gif"],
img[src="/images/icons/v2/bomb.png"] {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  float: none !important;
  width: 16px !important;
  height: 16px !important;
}
#inner-wrap img {
  max-width: 100%;
  height: auto;
}
#inner-wrap img[src="/images/spacer.gif"] {
  display: none;
}
#inner-wrap img * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.EventsHeader td:nth-child(2) {
  width: 18px !important;
  height: 18px !important;
}
.EventsHeader span.expand img {
  width: 18px !important;
  height: 18px !important;
}
::selection {
  background: #41a6e2;
  color: #fff;
}
/* Safari 3.1+, Opera 9.5+, Chrome 2+ */
::-moz-selection {
  background: #41a6e2;
  color: #fff;
}
/* Mozilla Firefox */
/* Flexbox Equal heights */
.flexbox .equal-height {
  display: flex;
  flex-direction: row;
}
.flexbox .equal-height-item {
  display: inherit;
  flex-direction: column;
}
.flexbox .equal-height-item-inner {
  flex: 1 0 auto;
}
/* Stack items on mobile */
@media only screen and (max-width:  699px ) {
  .flexbox .equal-height {
    flex-direction: column;
  }
}
@media only screen and (min-width: 700px) and (max-width:  1023px ) {
  .container {
    width: 100%;
  }
}
.openPatternInfo {
  display: block;
  background-color: #ef6653;
  position: fixed;
  top: 30%;
  z-index: 999;
  padding: 1em 0.5em 1em 0.5em;
  font-size: 30px;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.openJsonButton {
  position: fixed;
  bottom: 0;
  padding: 15px;
  cursor: pointer;
  right: 10%;
  font-size: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #41a6e2;
  color: #fff;
}
.null {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}
.appHead {
  display: flex;
  background: #000;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 3em;
  flex-grow: 1;
  max-height: 60px;
}
.appHead .logo {
  flex-grow: 1;
}
.appHead .logo img {
  max-width: 150px;
}
.appHead .search {
  position: relative;
  max-width: 200px;
}
.appHead .search input {
  min-width: 200px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  height: 100%;
}
.appHead .search .searchButton {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #000;
}
.searchResults {
  width: 100%;
  display: flex;
  background-color: #222;
  border-bottom: #aaa;
  min-height: 200px;
  z-index: 999;
  position: absolute;
  top: 60px;
  left: 0;
  color: #fff;
}
/* BODY ELEMENTS
---------------------------------------------*/
.structBody {
  float: left;
  padding: 0em 0;
  width: 100%;
  background: #fff;
}
.midWrap {
  padding-bottom: 3em;
}
@media only screen and (min-width: 700px) and (max-width:  1023px ) {
  .midWrap {
    padding-bottom: 1em;
  }
}
.pageName h1 {
  margin: 0 0 10px;
}
/* FOOTER ELEMENTS
---------------------------------------------*/
footer {
  float: left;
  width: 100%;
  color: #fff;
  padding: 2em 0;
}
footer ul.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
@media only screen and (max-width:  699px ) {
  footer ul.social {
    text-align: center;
    margin-bottom: 20px;
  }
}
footer ul.social li {
  display: inline;
  padding: 0 5px;
}
footer ul.social li a {
  text-decoration: none;
  color: #fff;
}
.toplink {
  display: block;
  text-align: center;
  font-size: 0.85em;
  text-transform: uppercase;
  line-height: normal;
  clear: both;
  background-color: #000;
}
.toplink a {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  display: block;
}
/* MOBILE NAVIGATION
-----------------------------------------------*/
.m-pikabu-sidebar {
  box-shadow: inset 1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.3);
}
.m-pikabu-sidebar .mainNav ul li {
  position: relative;
}
.m-pikabu-sidebar .mainNav ul li.has-subnav .accordion-btn {
  color: #fff;
}
.m-pikabu-sidebar .mainNav ul li.selected a {
  color: #fff;
}
.m-pikabu-sidebar .mainNav ul li a {
  padding: 12px 1em;
}
.mobileSearch {
  margin: 1em;
  text-align: center;
  color: #ccc;
  position: relative;
}
.mobileSearch input {
  background: #666;
  border: none;
  padding: 5px 20px 4px 10px;
  width: 100%;
  border-radius: 20px;
  color: #ccc;
}
.mobileSearch img[id$="_imgbtnSearch"] {
  width: 14px;
  position: absolute;
  right: 10px;
  top: 7px;
}
.mobileSearch button,
.mobileSearch label,
.mobileSearch .SearchModuleSpacer {
  display: none;
}
#nav {
  overflow-y: scroll;
}
#nav ul li.selected > ul {
  display: block;
}
#nav ul li ul {
  display: none;
}
@media only screen and (min-width: 700px) and (max-width:  1023px ) {
  #nav {
    display: block;
  }
}
@media only screen and (max-width:  699px ) {
  #nav {
    display: block;
  }
}
@media only screen and (min-width: 700px) and (max-width:  1023px ) {
  .m-pikabu-sidebar,
  .m-pikabu-right-visible .m-pikabu-right,
  .m-pikabu-left-visible .m-pikabu-left {
    width: 30% !important;
  }
}
@media only screen and (min-width: 700px) and (max-width:  1023px ) {
  .m-pikabu-left-visible .m-pikabu-container {
    -webkit-transform: translate3d(30%, 0, 0);
    -moz-transform: translate3d(30%, 0, 0);
    -ms-transform: translate3d(30%, 0, 0);
    -o-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
  }
}
@media only screen and (min-width: 700px) and (max-width:  1023px ) {
  .m-pikabu-right-visible .m-pikabu-container {
    -webkit-transform: translate3d(-30%, 0, 0);
    -moz-transform: translate3d(-30%, 0, 0);
    -ms-transform: translate3d(-30%, 0, 0);
    -o-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
  }
}
.jsonGenerator {
  position: fixed;
  left: 10%;
  width: 80%;
  height: auto;
  min-height: 80%;
  background-color: #41a6e2;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 50px;
  transition: all 700ms ease-out;
}
.jsonGenerator.open {
  bottom: 10%;
}
.jsonGenerator.closed {
  bottom: -100%;
}
.jsonGenerator .jsonHeader {
  width: 100%;
}
.jsonGenerator .jsonHeader h2 {
  text-align: center;
}
.jsonGenerator .jsonHeader .fa.fa-times-circle {
  font-size: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.jsonGenerator.meta .jsonMeta.pane {
  display: flex;
  opacity: 1;
  transition: all 1s;
}
.jsonGenerator.elements .jsonElements.pane {
  display: flex;
  opacity: 1;
  transition: all 1s;
}
.jsonGenerator.dependancies .jsonDependancies.pane {
  display: flex;
  opacity: 1;
  transition: all 1s;
}
.jsonGenerator .pane {
  display: none;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0;
  transition: all 1s;
}
.jsonGenerator .pane .inputgroup {
  width: 33.33%;
  min-width: 300px;
  padding: 10px 15px 5px;
  flex-grow: 1;
  height: auto;
}
.jsonGenerator .pane .inputgroup label {
  width: 30%;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #222;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}
.jsonGenerator .pane .inputgroup textarea,
.jsonGenerator .pane .inputgroup input {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid #222;
  color: #222;
}
.jsonGenerator .pane .inputgroup textarea {
  max-height: 400px;
  min-height: 100px;
  border-top-left-radius: 0;
}
.jsonGenerator .pane .inputgroup.nextButton {
  width: 100%;
}
.jsonGenerator .pane.jsonMeta,
.jsonGenerator .pane.jsonDependancies {
  max-width: 1200px;
  margin: 0 auto;
}
.jsonGenerator .pane.jsonMeta .inputgroup,
.jsonGenerator .pane.jsonDependancies .inputgroup {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.jsonGenerator .pane.jsonMeta .inputgroup label,
.jsonGenerator .pane.jsonDependancies .inputgroup label {
  padding: 10px 20px;
  margin: 10px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  max-width: 200px;
  min-width: 100px;
}
.jsonGenerator .pane.jsonMeta .inputgroup input,
.jsonGenerator .pane.jsonDependancies .inputgroup input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.jsonGenerator .pane.jsonMeta .inputgroup textarea,
.jsonGenerator .pane.jsonDependancies .inputgroup textarea {
  width: 100%;
}
.jsonGenerator .pane.jsonMeta .patternDescWrap,
.jsonGenerator .pane.jsonDependancies .patternDescWrap {
  flex-direction: column;
}
.jsonGenerator .pane.jsonMeta .patternDescWrap label,
.jsonGenerator .pane.jsonDependancies .patternDescWrap label {
  width: 30%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 20px;
  margin-bottom: 0;
}
.jsonGenerator .pane .paneButton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px dotted #fff;
}
.jsonGenerator .pane .paneButton button {
  background-color: #ef6653;
  color: #fff;
  border-radius: 30px;
  padding: 5px 50px;
  text-align: center;
  transition: all 400ms ease;
  border: none;
}
.jsonGenerator .pane .paneButton button:hover {
  color: #ef6653;
  background-color: #fff;
}
.jsonGenerator .pane .paneButton button.next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.jsonGenerator .pane .paneButton button.preview {
  background-color: #87c952;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 0;
}
.jsonGenerator .pane .paneButton button.preview:hover {
  background-color: #fff;
  color: #87c952;
}
.jsonGenerator .pane .paneButton button.previous {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.patternViewerWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #555;
  display: flex;
  justify-content: center;
  padding: 6em 4em;
}
.patternViewerWrap iframe {
  padding-top: 20px;
  width: 80%;
  height: 80%;
  min-width: 320px;
  border: 2px solid #222;
  border-radius: 30px;
  background-color: #fff;
}
/*# sourceMappingURL=app/style.css.map */